<style>
#calc div { font-family: 'Courier', monospace; }
.card { border: solid 1px; padding: 3px; margin-top: 3px; background-color: #ccc; cursor: move; }
.card.dragging { opacity: 0.4; }
.place { border: solid 1px; padding: 3px; margin-top: 3px; }
</style>

<template id="card-template">
  <div draggable="true" :class="{ card: true, dragging: dragging }" @dragstart="drag_start" @dragend="drag_end">
    <span class="item">
      <input v-model.number="num1">
      ?
      <input v-model.number="num2">
      = ???
    </span>
  </div>
</template>

<template id="place-template">
  <div class="place" @dragover.prevent="drag_over" @drop="drop">
    <span class="item">
      <input v-model.number="num1">
      {{ op_sym || '?' }}
      <input v-model.number="num2">
      =
      <input v-model.number="result">
    </span>
  </div>
</template>

<div id="calc">
  <button id="new-card" @click="new_card">追加</button>
  <div id="waiting">
    <calc-card v-for="card in waiting"></calc-card>
  </div>
  <div id="calculator">
    <calc-place v-for="op in calculator" :op="op"></calc-place>
  </div>
</div>
